:root {
  --text-color-rgb: 255, 255, 255;
  --background-color-rgb: 22, 22, 25;
  --details-color: #b3b3b3;
  --accent-color: #a295e9;
  --light-grey: #494954;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: 'League Spartan', sans-serif;
  color: rgb(var(--text-color-rgb));
  background: rgb(var(--background-color-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}
