$text-color: #fff;
$details-color: #b3b3b3;
$accent-color: #a295e9;
$lightGrey: #494954;

/* Magic colors */
$magic-color-1: #6bc5f8;
$magic-color-2: #cf59e6;
$magic-color-gradient: linear-gradient(-45deg, $magic-color-1, $magic-color-2, $magic-color-1, $magic-color-2, $magic-color-1, $magic-color-2);

/* Card color */
$card-color: rgb(26, 26, 30);
/* Card lighting color */
$card-lighting-color: rgba(152, 157, 242, 0.06);
$card-lighting-border-color: rgba(152, 157, 242, 0.3);
