@import '../styles/palettes.module';

@mixin container {
  max-width: 1200px;
  padding: 0 1rem;
}

.sectionsContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem 0;
  margin: auto;
}

@mixin accentColorOnHover {
  transition: color 200ms ease;

  &:hover {
    color: $accent-color;
  }
}