@import '../styles/palettes.module';

@mixin container {
  max-width: 1200px;
  padding: 0 1rem;
}

@mixin accentColorOnHover {
  transition: color 200ms ease;

  &:hover {
    color: $accent-color;
  }
}